.idea
.DS_Store
.ipynb_checkpoints

exercises/
__pycache__/

Flask_old/

# firestore credential
*cred.json

# To Be deleted
python/exemples/

python/student_exercises/implementations/basic_input_output/

python/student_exercises/corrections/basics/my_dictionaries/
python/student_exercises/corrections/basics/my_lists/
python/student_exercises/corrections/basics/my_lists_comprehensions/
python/student_exercises/corrections/basics/my_sets/
python/student_exercises/corrections/basics/my_strings/
python/student_exercises/corrections/basics/my_tuples/
python/student_exercises/corrections/basic_input_output/
python/student_exercises/corrections/pygame/

numpy_pandas/examples/data_aquisition/REST_API/
numpy_pandas/examples/data_aquisition/web_scrapping/basic/IMDB/
numpy_pandas/examples/data_visualization/
numpy_pandas/examples/ML/
numpy_pandas/examples/jupyter/
numpy_pandas/examples/numpy/
numpy_pandas/examples/pandas/
numpy_pandas/examples/matplotlib/

numpy_pandas/student_exercises/corrections/data_aquisition/web_scrapping/IMDB/
numpy_pandas/student_exercises/corrections/data_aquisition/web_scrapping/Selenium/
numpy_pandas/student_exercises/corrections/ML/
numpy_pandas/student_exercises/corrections/numpy/

numpy_pandas/student_exercises/implementations/data_aquisition/web_scrapping/IMDB/

flask/